<template>
  <div
    class="flex flex-col justify-start smpb-64 pb-16 create-videos-container overflow-y-scroll px-2 invisible-scrollbar mt-3"
  >
    <template v-for="feed in smFeed">
      <Feed
        :key="feed._id"
        :video-name="feed.name"
        :user-name="feed.user.name"
        :views-count="feed.visitedTimes"
        :thumbnail="feed.images[0]"
        @click.native="onMainFeedVideoClick(feed._id, feed.images)"
      />
    </template>
  </div>
</template>

<script>
import Feed from "@/components/create/feed";

export default {
  layout: "circleheader",
  props: {
    smFeed: Array,
    onMainFeedVideoClick: Function,
  },
};
</script>

<style></style>
>
