<template>
  <div
    class="flex flex-col justify-start smpb-64 pb-16 create-videos-container overflow-y-scroll px-2 invisible-scrollbar mt-3"
  >
    <MyVideo
      v-for="myvideo in smMyVideos"
      :key="myvideo._id"
      :video-name="myvideo.name"
      :user-name="myvideo.user.name"
      :views-count="myvideo.visitedTimes"
      :thumbnail="myvideo.images[0]"
      @click.native="onFeedVideoClick(myvideo.images)"
    />
  </div>
</template>

<script>
import MyVideo from "@/components/create/myvideo";

export default {
  layout: "circleheader",
  props: {
    smMyVideos: Array,
    onFeedVideoClick: Function,
  },
  components: {
    MyVideo,
  },
};
</script>

<style>
.create-videos-container {
  min-height: 10em;
  height: calc(100% - 16rem);
}
@media (min-width: 720px) {
  .create-videos-container {
    height: calc(100% - 16rem);
  }
}
@media (min-height: 1000px) {
  .create-videos-container {
    height: calc(100% - 17rem);
  }
}
</style>
>
