<template>
  <div class="container m-auto pt-5 h-full overflow-y-scroll lg:max-w-xl">
    <div v-if="isPageLoading" class="flex flex-col items-center justify-center h-full">
      <img class="animate-spin w-12 h-12" :src="require('@/assets/img/all/loading.png')" alt="">
    </div>
    <div v-if="!isPageLoading" class="flex flex-col items-center justify-center">
      <div class="text-white text-2xl bg-blue-400 rounded px-10 py-1 font-bold shadow-xl capitalize">
        Puntuación
      </div>
      <div class="px-10 py-1 mt-6">
        <img class="w-20 h-20" src="~assets/img/trofeo.svg" alt="">
      </div>
      <div class="flex flex-col items-center w-full h-64 overflow-y-scroll mt-6">
        <template v-for="score in gameScore.scores">
          <div :key="score._id" class="flex items-center justify-between bg-blue-400 text-white w-9/12 rounded-full text-lg px-4 h-10 mt-4">
            <span>{{ score.userId.name }}</span>
            <span>{{ score.score }} puntos</span>
          </div>
        </template>
      </div>
      <div class="flex items-center justify-center mt-4">
        Tu puntuación es de {{ actualScore }}
      </div>
      <!-- <div class="flex items-center justify-center w-9/12 mx-auto text-white text-lg bg-blue-400 rounded py-1 font-bold shadow-xl">
        Jugar de nuevo
      </div> -->
    </div>
  </div>
</template>

<script>
export default {
  layout: 'circleheader',
  data () {
    return {
      gameID: null,
      gameScore: null,
      userTopIndex: -1,
      isPageLoading: true,
      actualScore: 0
    }
  },
  mounted () {
    this.$store.commit('menu/setTitle', 'Juega')
    this.$store.commit('menu/setColor', '#58B149')
  },
  async created () {
    try {
      this.gameID = this.$route.params.id
      const { data } = await this.$api.utilities.topGamesScore()
      console.log('games: ', data)
      console.log('gameID: ', this.gameID)
      data.result.gamesScore.forEach((tempGame) => {
        if (tempGame.game._id === this.gameID) {
          this.gameScore = tempGame
        }
      })
      this.getUserScore()
      this.$store.commit('menu/setTitle', this.gameScore.game.name)
      console.log('gameScore: ', this.gameScore)
      this.filterUserTop(this.gameScore.scores)
    } catch (err) {
      this.$router.go(-1)
    }
  },
  methods: {
    filterUserTop (gameTopScore) {
      for (let index = 0; index < gameTopScore.length; index++) {
        const tempScore = gameTopScore[index]
        if (tempScore.userId._id === localStorage.getItem('_id')) {
          this.userTopIndex = index
          console.log('SI ESTA: ', this.userTopIndex)
        }
      }
      this.isPageLoading = false
    },
    async getUserScore () {
      try {
        const userData = {
          gameId: this.gameID,
          userId: localStorage.getItem('_id')
        }
        const { data } = await this.$api.user.userScore(userData)
        console.log('user score: ', data)
        if (data.status.code === '0000') {
          this.actualScore = data.result.score
        } else {
          this.actualScore = 0
        }
      } catch (err) {
        console.log('err: ', err)
        this.actualScore = 0
      }
    }
  }
}
</script>

<style scoped>

.custom-card-descubre {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3CB4E5;
  width: 80%;
  height: 15rem;
  text-align: center;
  margin-top: 2rem;
}

.title-section {
  position: absolute;
  bottom: 0;
  left: 0;
}

</style>
