<template>
  <div class="container m-auto pt-5 h-full overflow-y-scroll lg:max-w-xl">
    <div class="flex flex-col items-center pb-20">
      <template v-for="game in games">
        <div :key="game._id" class="custom-card-descubre rounded py-2" @click="onClickGame(game)">
          <img class="mb-5" :src="game.image" alt="">
          <div class="bg-geenjugueti bg-opacity-75 title-section text-white w-6/12 rounded text-xl py-2">
            {{ game.name }}
          </div>
        </div>
      </template>
    </div>
    <Modal :isModalVisible="isGameoModalShown" @onModalClick="onGameModalClose">
      <iframe :src="game.gameURL" class="w-full h-80" frameborder="0" allow="autoplay; fullscreen; encrypted-media;"/>
    </Modal>
  </div>
</template>

<script>
export default {
  layout: 'circleheader',
  data () {
    return {
      isGameoModalShown: false,
      game: '',
      games: [],
      msg: [],
      gameID: 0,
      gameData: []
    }
  },
  mounted () {
    this.$store.commit('menu/setTitle', 'Juega')
    this.$store.commit('menu/setColor', '#58B149')
    this.$nextTick(function () {
      window.addEventListener('message', this.listenMessage)
    })
  },
  async created () {
    const { data } = await this.$api.game.getAllGames()
    if (data.status.code === '0000') {
      this.games = data.result.games
    }
    console.log('games: ', data.result.games)
    this.sendViewSectionNotification()
  },
  methods: {
    onClickGame (game) {
      this.game = game
      console.log('GAME: ', game)
      this.isGameoModalShown = true
      this.sendCatalogNotification(game.name)
    },
    onGameModalClose () {
      this.isGameoModalShown = false
      // if (this.game.name === 'LEGO' || this.game.name === 'Flappy Submarine') {
      //   this.$router.push({ name: 'play-games-id', params: { id: this.game._id } })
      // }
    },
    async listenMessage (msg) {
      if (msg.origin !== 'https://inmersysapps.com') {
        return
      }
      if (msg.data.score) {
        try {
          this.gameScore = msg.data.score
          // localStorage.getItem('_id')
          console.log('score')
          console.log(this.gameScore)
          const gameData = {
            gameId: this.game._id,
            score: this.gameScore
          }
          console.log('Game Data: ', gameData)
          const { data } = await this.$apiAuth.utilities.playGame(gameData)
          this.$router.push({ name: 'play-games-id', params: { id: this.game._id } })
          console.log('Data: ', data)
        } catch (err) {
          console.log(err)
          console.log(this.$apiAuth.utilities)
        }
      }
    },
    async sendViewSectionNotification () {
      const sectionData = {
        email: localStorage.getItem('email'),
        section: 'Juega'
      }
      const { data } = await this.$api.utilities.viewSection(sectionData)
      console.log('SECTION: ', data)
    },
    async sendCatalogNotification (gameName) {
      const sectionData = {
        email: localStorage.getItem('email'),
        catalog: 'GAME',
        value: gameName
      }
      const { data } = await this.$api.utilities.viewCatalog(sectionData)
      console.log('CATALOG: ', data)
    }
  }
}
</script>

<style>

.custom-card-descubre {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3CB4E5;
  width: 80%;
  height: 15rem;
  text-align: center;
  margin-top: 2rem;
}

.title-section {
  position: absolute;
  bottom: 0;
  left: 0;
}

</style>
