<template>
  <div class="container portrait:h-full relative landscape:w-full landscape:max-w-none">
    <Loading />
    <!-- If Portrait -->
    <div class="h-full landscape:flex landscape:flex-row landscape:w-full">
      <!-- CAMARA -->
      <div
        class="flex flex-col items-center create-camera-container landscape:w-4/5 landscape:flex-row"
      >
        <div class="w-full h-full">
          <img
            class="push-boton h-6 w-6 lg:h-8 lg:w-8 cursor-pointer mt-8 ml-4 fixed z-30"
            src="https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/flecha_regresar_02.svg"
            @click="goBack()"
            alt="Back"
          />
          <video id="create-video-camera" ref="video" class="camera-stream" />
        </div>
      </div>
      <!-- CONTROLES -->
      <div
        class="fixed bottom-0 left-0 w-full create-camera-controls-container h-64 py-1 flex flex-col justify-center items-center bg-redjugueti landscape:relative landscape:w-1/5 landscape:h-full"
      >
        <Carrusel :photosTaken="photosTaken" />
        <Controles
          :onSMFormVisible="onSMFormVisible"
          :capture="capture"
          :onFeedVideoClick="onFeedVideoClick"
          :photosTaken="photosTaken"
          :isTakingAPicture="isTakingAPicture"
          :isPreviewVisible="isPreviewVisible"
        />
      </div>
    </div>
    <!-- preview del video -->
    <Modal
      :isModalVisible="isVideoModalShown"
      @onModalClick="onVideoModalNoAction"
      class="z-50"
    >
      <div class="relative w-full h-full flex justify-center items-center">
        <div
          class="w-6 h-6 rounded-full push lg:w-10 lg:h-10 bg-white lg:bg-gray-400 lg:bg-opacity-50 cursor-pointer mr-12 mt-12 absolute top-0 right-0 lg:mt-24 lg:mr-24 z-50 flex justify-center items-center push-boton"
          @click="onVideoModalNoAction"
        >
          <div
            class="text-lg place-self-center justify-self-center text-red-600 font-black lg:text-white lg:text-4xl"
          >
            &times;
          </div>
        </div>
        <div
          class="flex justify-center items-center w-11/12 contenedor-preview relative"
          @click="onPlayVideo"
        >
          <img
            class="w-full imagen-preview push-boton"
            ref="preview"
            :src="photosTaken[0]"
          />
          <img
            v-if="!isVideoPlaying"
            class="absolute inset-auto h-10 lg:h-16 w-10 lg:w-16 cursor-pointer animate-pulse z-20"
            src="https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/Grupo 559.svg"
            alt="Iniciar video"
          />
        </div>
      </div>
    </Modal>
    <!-- preview del video -->

    <!-- MODALES -->
    <ModalNameOfSMotion
      :isSMFormShown="isSMFormShown"
      :onSMFormClose="onSMFormClose"
      :onCreateStopMotion="onCreateStopMotion"
      :loading="loading"
    />
    <ModalEnvioExitoso
      :isUploadedVideoModalVisible="isUploadedVideoModalVisible"
      :onUploadModalClose="onUploadModalClose"
    />
    <ModalValidate
      :isValidationModalShown="isValidationModalShown"
      :onValidationModalClose="onValidationModalClose"
    />
    <!-- MODALES -->
  </div>
</template>

<script>
import Modal from "@/components/modal";
import Loading from "@/components/create/Loading";
import ModalEnvioExitoso from "@/components/create/camera/ModalEnvioExitoso";
import ModalValidate from "@/components/create/camera/ModalValidate";
import ModalNameOfSMotion from "@/components/create/camera/ModalNameOfSM";
import Carrusel from "@/components/create/camera/Carrusel";
import Controles from "@/components/create/camera/Controles";
import { Hooper, Slide } from "hooper";
import "hooper/dist/hooper.css";

export default {
  layout: "empty",
  components: {
    Carrusel,
    Controles,
    Hooper,
    Slide,
    Modal,
    ModalEnvioExitoso,
    ModalValidate,
    ModalNameOfSMotion,
    Loading,
  },
  data() {
    return {
      errorName: false,
      // errores
      loading: false,
      isTakingAPicture: false,
      landscape: false,
      mediaStream: null,
      photosTaken: [],
      isVideoModalShown: false,
      isVideoContainerClicked: false,
      isVideoPlaying: false,
      isSMFormShown: false,
      isValidationModalShown: false,
      isUploadedVideoModalVisible: false,
    };
  },
  mounted() {
    this.configPage();
    this.getPermises();
  },
  destroyed() {
    this.$store.commit("menu/setCatalogState", true);
    this.mediaStream = null;
  },
  computed: {
    isPreviewVisible() {
      return this.photosTaken.length > 0 ? "cursor-pointer" : "opacity-50";
    },
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    },
    configPage() {
      this.getBrowser();
      this.$refs.video.setAttribute("autoplay", "");
      this.$refs.video.setAttribute("muted", "");
      this.$refs.video.setAttribute("playsinline", "");

      this.$store.commit("menu/setTitle", "Camara");
      this.$store.commit("menu/setColor", "#EB0045");
      this.$store.commit("menu/setCatalogState", false);
    },
    async getPermisesIphone() {
      navigator.mediaDevices
        .getUserMedia({
          audio: false,
          video: {
            facingMode: {
              exact: "environment",
            },
            width: 640,
            height: 360,
          },
        })
        .then((mediaStream) => {
          this.$refs.video.srcObject = mediaStream;
          this.mediaStream = mediaStream;
        })
        .catch((error) => {
          console.error("getUserMedia() error:", error);
          if (error.constraint === "facingMode") {
            navigator.mediaDevices
              .getUserMedia({
                audio: false,
                video: true,
              })
              .then((mediaStream) => {
                this.$refs.video.srcObject = mediaStream;
                this.mediaStream = mediaStream;
              })
              .catch((error) => {
                alert("Ha ocurrido un error, intenta de nuevo");
              });
          }
        });
    },
    getPermises() {
      const config = {
        audio: false,
        video: {
          facingMode: {
            exact: "environment",
          },
          width: 640,
          height: 360,
        },
      };
      const config2 = { audio: false, video: true };
      navigator.getMedia =
        navigator.getUserMedia ||
        navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia ||
        navigator.msGetUserMedia;
      console.log(navigator.getMedia, "Tipo");

      const successMedia = (stream) => {
        if (navigator.mozGetUserMedia) this.$refs.video.srcObject = stream;
        else {
          let vendorURL = window.URL || window.webkitURL;
          this.$refs.video.srcObject = stream;
        }
      };
      const errorMedia = (error) => {
        alert(
          "No hemos podido acceder a tu camara, es posible que otro dispositivo se encuentre usandola. Recarga la página o proporciona los permisos necesarios. Redireccionando..."
        );
        this.getPermisesIphone();
        this.$router.push({ name: "create" });
      };
      try {
        navigator.getMedia(config, successMedia, (error) => {
          navigator.getMedia(config2, successMedia, errorMedia);
        });
      } catch (e) {
        this.getPermisesIphone();
      }
    },
    capture() {
      if (!this.isTakingAPicture) {
        this.isTakingAPicture = true;
        const canvas = document.createElement("canvas");
        const videoContainer = document.getElementById("create-video-camera");
        return new Promise((resolve, reject) => {
          try {
            canvas.width = videoContainer.videoWidth;
            canvas.height = videoContainer.videoHeight;
            canvas
              .getContext("2d")
              .drawImage(videoContainer, 0, 0, canvas.width, canvas.height);
            // canvas.toBlob(resolve, 'image/png')
            canvas.toBlob(async (blob) => {
              const fd = new FormData();

              fd.append("myFile", blob, new Date().getTime());
              fd.append("folder", "sm/images");
              const { data } = await this.$api.utilities.uploadFile(fd);
              this.photosTaken.push(data.result.image);
              this.isTakingAPicture = false;
              resolve();
            }, "image/jpeg");
          } catch (error) {
            this.isTakingAPicture = false;
            reject(error);
          }
        });
      }
    },
    onVideoModalNoAction() {
      this.isVideoContainerClicked === false
        ? this.onVideoModalClose()
        : (this.isVideoContainerClicked = false);
    },
    onPlayVideo() {
      if (!this.isVidePlaying) {
        this.isVideoContainerClicked = true;
        this.isVideoPlaying = true;
        const time = 200;
        let position = 0;
        const carrusel = this.$refs.preview;
        const avanzar = (id) => console.log("Avanza", id);
        const preloadImage = (src) =>
          new Promise((r) => {
            const image = new Image();
            image.src = src;
            image.onload = r(image);
            image.onerror = r;
          });
        Promise.all(this.photosTaken.map((src) => preloadImage(src))).then((data) => {
          console.log("Lo que devolvió: ", data);
          data.map((imagen) => console.log(imagen.src));
          const id = setInterval(() => {
            if (position < data.length) {
              carrusel.src = data[position].src;
              carrusel.onload = avanzar(position);
              position += 1;
            } else {
              position = 0;
              clearInterval(id);
              this.isVideoPlaying = false;
            }
          }, time);
        });
      }
    },
    getBrowser() {
      const agente = navigator.userAgent;
      const navegador = "Chrome/";
      const dispositivo = "iPhone";
      const tipoDispositivo = "Mobile";
      const kit = "AppleWebKit";
      if (
        agente.indexOf(navegador) == !-1 &&
        agente.indexOf(dispositivo) == !-1 &&
        agente.indexOf(tipoDispositivo) == !-1 &&
        agente.indexOf(kit) == !-1
      ) {
        alert(
          "Esta función no esta disponible en chrome para ios, por favor utiliza Safari"
        );
      }
      if (agente.indexOf(dispositivo)) {
        return dispositivo;
      }
      return agente;
    },
    onFeedVideoClick() {
      this.photosTaken.length !== 0 ? (this.isVideoModalShown = true) : null;
      // this.isVideoModalShown = true
    },
    onVideoModalClose() {
      this.isVideoPlaying = false;
      this.isVideoModalShown = false;
    },
    onSMFormVisible() {
      console.log("Sm form");
      this.photosTaken.length >= 10
        ? (this.isSMFormShown = true)
        : this.onValidationModalShown();
    },
    onSMFormClose() {
      this.isSMFormShown = false;
    },
    validateStopMotion(sm) {
      return true;
    },
    async onCreateStopMotion(name, description) {
      try {
        const stopMotionData = {
          name,
          description,
          user: localStorage.getItem("_id"),
          images: this.photosTaken,
        };
        if (this.validateStopMotion(stopMotionData)) {
          this.loading = true;
          const { data } = await this.$apiAuth.stopmotion.create(stopMotionData);
          this.loading = false;
          if (data.status.code === "0000") {
            this.onSMFormClose();
            this.onUploadModalShown();
          }
        }
      } catch (err) {
        alert("No se han podido subir las imagenes", err);
      }
    },
    onValidationModalShown() {
      this.isValidationModalShown = true;
    },
    onValidationModalClose() {
      this.isValidationModalShown = false;
    },
    onUploadModalShown() {
      this.isUploadedVideoModalVisible = true;
    },
    onUploadModalClose() {
      this.isUploadedVideoModalVisible = false;
    },
  },
};
</script>

<style scoped>
.modal-validation-image {
  max-height: 90vh;
  width: 100%;
  max-width: 100%;
}
.text-modal-confirmation {
  position: absolute;
  max-width: 70%;
  margin: auto;
  left: calc(10%);
  top: 30%;
}
@media (min-width: 1200px) {
  .text-modal-confirmation {
    position: absolute;
    left: calc(5%);
    top: 35%;
  }
}
@media (min-width: 1500px) {
  .text-modal-confirmation {
    position: absolute;
    left: 10%;
    top: 35%;
  }
}

.modal-validation {
  max-height: 80%;
  min-height: 30em;
  margin: auto;
}
.modal-validation-image {
  max-height: 90vh;
  width: 100%;
  max-width: 100%;
}
.contenedor-preview {
  border-radius: 10px;
  overflow: hidden;
}
@media (min-width: 720px) {
  .contenedor-preview {
    height: 80%;
    width: 80%;
  }
}
.imagen-preview {
  min-width: 20em;
  height: 100%;
  border-radius: 10px;
}
.create-camera-container {
  @media all and (orientation: portrait) {
    height: calc(100% - 13.5rem);
  }
}
.camera-stream {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
@media all and (orientation: portrait) {
  .create-camera-controls-container {
    border-top-left-radius: 50% 10%;
    border-top-right-radius: 50% 15%;
  }
}
.custom-yellow {
  background-color: #ffb71b;
}
.custom-yellow:hover {
  background-color: #d69a16;
}
</style>
