<template>
  <div
    class="container create w-full mx-auto relative overflow-y-scroll lg:max-w-xl cont"
  >
    <Loading :isLoadingShown="isLoadingShown" />
    <FirstTimeTutorial v-if="isModalFistTimeVisible" />
    <div
      :class="isModalFistTimeVisible ? 'blur' : ''"
      class="margin-bottom relative cont2"
    >
      <FeedButtons
        :sectionSelected="sectionSelected"
        :onSectionChanged="onSectionChanged"
      />
      <HistoriesContainer
        :onClickInspiration="onClickInspiration"
        :changeLoading="changeLoading"
      />
      <FeedSection
        v-if="sectionSelected === 0"
        :smFeed="smFeed"
        :onMainFeedVideoClick="onMainFeedVideoClick"
      />
      <MyVideosSection
        v-if="sectionSelected === 1"
        :smMyVideos="smMyVideos"
        :onFeedVideoClick="onFeedVideoClick"
      />
      <div class="absolute w-full flex flex flex-center">
        <ButtonFooter
          :isModalFistTimeVisible="isModalFistTimeVisible"
          :onStartStopMotion="onStartStopMotion"
        />
      </div>
    </div>

    <Modal :is-modal-visible="isVideoModalShown">
      <ButtonExit :funcion="onVideoModalClose" />
      <div class="flex justify-center items-center w-11/12 relative max-h-screen">
        <img
          class="shadow-lg rounded-lg z-50 max-h-screen py-10"
          ref="stopmotion"
          :src="imagesToPlay[0]"
          data-not-lazy
        />
        <img
          v-if="!isVideoPlaying"
          class="absolute inset-auto h-16 animate-pulse w-16 z-50 cursor-pointer"
          data-not-lazy
          @click="onPlayVideo"
          src="https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/Grupo 559.svg"
          alt="Inicar video"
        />
      </div>
    </Modal>
    <!-- MODAL DE LA INSPIRACIÓN -->
    <Modal
      :is-modal-visible="isStoryModalVisible"
      @onModalClick="isStoryModalVisible = false"
    >
      <LoadingFull :loading="this.loading" />
      <iframe
        :readystate="frameLoaded()"
        :src="inspirationURL"
        class="w-full h-64 lg:h-80"
        frameborder="0"
        allow="autoplay; fullscreen; encrypted-media;"
        allowfullscreen
      />
    </Modal>
    <!-- MODAL DE LA INSPIRACIÓN -->
  </div>
</template>

<script>
import ButtonExit from "@/components/ButtonExit";
import Feed from "@/components/create/feed";
import MyVideo from "@/components/create/myvideo";
import Modal from "@/components/modal";
import FirstTimeTutorial from "@/components/create/firstTime";
import HistoriesContainer from "@/components/create/historiesContainer";
import FeedButtons from "@/components/create/feedButtons";
import ButtonFooter from "@/components/create/ButtonFooter";
import Loading from "@/components/create/Loading";
import LoadingFull from "@/components/util/Loading";
import FeedSection from "@/components/create/sections/Feed";
import MyVideosSection from "@/components/create/sections/MyVideos";

export default {
  layout: "circleheader",
  components: {
    FeedSection,
    Feed,
    Modal,
    MyVideo,
    // Review,
    FirstTimeTutorial,
    HistoriesContainer,
    FeedButtons,
    ButtonFooter,
    Loading,
    MyVideosSection,
    LoadingFull,
  },
  data() {
    return {
      sectionSelected: 0,
      smFeed: [],
      loading: false,
      smMyVideos: [],
      isLoadingShown: true,
      isVideoModalShown: false,
      imagesToPlay: [],
      isVideoPlaying: false,
      playeVideoController: null,
      isVideoContainerClicked: false,
      isStoryModalVisible: false,
      inspirationURL: "",
    };
  },
  computed: {
    isModalFistTimeVisible() {
      return this.$store.state.create.isModalFistTimeVisible;
    },
  },
  created() {
    this.getUserFeed();
    this.sendViewSectionNotification();
  },
  mounted() {
    this.$store.commit("menu/setTitle", "Crea");
    this.$store.commit("menu/setColor", "#EB0045");
    this.$store.commit("menu/setColor", "#EB0045");
    this.$store.commit("menu/setButtonShopingCarVisible", false);
  },
  destroyed() {},
  methods: {
    onSectionChanged(newSection) {
      this.sectionSelected = newSection;
      console.log(this.sectionSelected);
      switch (this.sectionSelected) {
        case 0:
          this.getUserFeed();
          break;
        case 1:
          this.getUserAprovedVideos();
          break;
        default:
          console.log("DEFAULT");
          break;
      }
    },

    async getUserFeed() {
      this.isLoadingShown = true;
      this.smFeed = [];
      const { data } = await this.$api.stopmotion.getFeed();
      console.log("response: ", data);
      this.smFeed = data.result.stopMotions;
      console.log("smFeed: ", this.smFeed);
      this.isLoadingShown = false;
    },
    async getUserAprovedVideos() {
      this.isLoadingShown = true;
      this.smMyVideos = [];
      const userId = localStorage.getItem("_id");
      const { data } = await this.$api.stopmotion.getByUserIdAndStatus(
        userId,
        "APPROVED"
      );
      console.log("response: ", data);
      this.smMyVideos = data.result.stopMotions;
      console.log("smMyVideos: ", this.smMyVideos);
      this.isLoadingShown = false;
    },
    onVideoModalClose() {
      this.isVideoPlaying = false;
      this.isVideoModalShown = false;
    },

    //FEED
    onFeedVideoClick(videoImages) {
      console.log("ABRO VIDEO");
      this.imagesToPlay = videoImages;
      this.isVideoModalShown = true;
    },
    async onMainFeedVideoClick(videoId, videoImages) {
      console.log("ABRO VIDEO");
      this.imagesToPlay = videoImages;
      this.isVideoModalShown = true;
      await this.$api.stopmotion.getViewCount(videoId);
    },
    changeLoading(status) {
      this.loading = status;
    },
    frameLoaded() {
      this.changeLoading(false);
    },
    onPlayVideo() {
      this.isVideoPlaying = true;
      const time = 200;
      let position = 0;
      const carrusel = this.$refs.stopmotion;
      const avanzar = (id) => console.log("Avanza", id);
      const preloadImage = (src) =>
        new Promise((r) => {
          const image = new Image();
          image.src = src;
          image.onload = r(image);
          image.onerror = r;
        });
      Promise.all(this.imagesToPlay.map((src) => preloadImage(src))).then((data) => {
        console.log("Lo que devolvió: ", data);
        data.map((imagen) => console.log(imagen.src));
        const id = setInterval(() => {
          if (position < data.length) {
            carrusel.src = data[position].src;
            carrusel.onload = avanzar(position);
            position += 1;
          } else {
            position = 0;
            clearInterval(id);
            this.isVideoPlaying = false;
          }
        }, time);
      });
    },
    onStartStopMotion() {
      this.$router.push({
        name: "create-camera",
      });
    },
    onClickInspiration(inspirationURL) {
      this.loading = true;
      this.inspirationURL = inspirationURL;
      this.isStoryModalVisible = true;
    },
    async sendViewSectionNotification() {
      const sectionData = {
        email: localStorage.getItem("email"),
        section: "Crea",
      };
      const { data } = await this.$api.utilities.viewSection(sectionData);
      console.log("SECTION: ", data);
    },
  },
};
</script>

<style scoped>
.cont {
  height: 95vh;
  max-height: 100vh;
  overflow-y: hidden;
}
.cont2 {
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
}

.histo {
  padding: 0.1em;
  background-color: white;
}

.margin-bottom {
  padding-bottom: 6.8em;
}
.custom-heoght-test-create {
  height: calc(100% - 100px);
}
.transition {
  transition: 0.5s;
}
.transition:active {
  transition: 0.5s;
  border: none;
}

.bc-8DC112 {
  background-color: #8dc112 !important;
}
.error {
  animation: shake 5s ease-in-out 5s infinite alternate;
  -webkit-animation: shake 5s ease-in-out 5s infinite alternate;
}
.blur {
  filter: blur(6px);
}
@-webkit-keyframes shake {
  5% {
    -webkit-transform: rotate(10deg);
  }
  10% {
    -webkit-transform-origin: center center;
  }
  15% {
    -webkit-transform: rotate(-10deg);
  }
  100% {
  }
}
.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}
</style>

<!-- 
  // import Review from '@/components/create/review'

    smReviews: [],
  Esto no se  si se volverá a ocupar
  <div v-if="sectionSelected === 2" class="w-full flex flex-col justify-start create-videos-container overflow-y-scroll mt-3 invisible-scrollbar">
        <template v-for="review in smReviews">
          <Review :key="review._id" :thumbnail="review.images[0]" @click.native="onFeedVideoClick(review.images)" />
        </template>
      </div> 
      
       async getUserReviewingVideos() {
      this.isLoadingShown = true
      this.smReviews = []
      const userId = localStorage.getItem('_id')
      const {
        data
      } = await this.$api.stopmotion.getByUserIdAndStatus(userId, 'CREATED')
      console.log('response: ', data)
      this.smReviews = data.result.stopMotions
      console.log('smReviews: ', this.smReviews)
      this.isLoadingShown = false
    },
      -->
