<template>
  <div
    :class="isModalFistTimeVisible ? 'blur' : ''"
    class="fixed lg:max-w-xl mx-auto align-center bottom-0 w-full create-camera-container create-button h-32 py-1 px-3 flex items-center xl:items-start bg-redjugueti"
  >
    <div class="flex flex-col items-center justify-center h-full w-full">
      <img
        class="h-16 w-16 error cursor-pointer push-boton"
        src="https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/Grupo 68.svg"
        alt="Ir a camara"
        @click="onStartStopMotion"
      />
      <span class="text-white font-bogle font-bold">Crea el tuyo</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    thumbnail: String,
    onStartStopMotion: Function,
    isModalFistTimeVisible: Boolean,
  },
};
</script>

<style scoped>
.create-camera-container {
  border-top-left-radius: 10%;
  border-top-right-radius: 50%;
}
</style>
>
