<template>
    <div class="w-full flex justify-around mt-3 ">
      <div>
        <button v-if="sectionSelected !== 0" class="bg-transparent hover:bg-redjugueti-dark push-boton transition hover:text-white text-grayjugueti py-1 px-4 rounded-full" @click="onSectionChanged(0)">
          Feed
        </button>
        <button v-else class="bg-redjugueti  push-boton text-white py-2 px-4 rounded-full">
          Feed
        </button>
      </div>
      <div>
        <button v-if="sectionSelected !== 1" class="bg-transparent hover:bg-redjugueti-dark transition push-boton hover:text-white text-grayjugueti py-1 px-4 rounded-full" @click="onSectionChanged(1)">
          Mis videos
        </button>
        <button v-else class="bg-redjugueti text-white py-2 px-4 rounded-full">
          Mis videos
        </button>
      </div>
    </div>
</template>

<script>
export default {
  props: {
      onSectionChanged: Function,
      sectionSelected:Number 
  }
}
</script>

<style>

</style>>
