<template>
  <div class="flex-col items-start mb-3 card">
    <div class="flex justify-between w-full py-2 px-1">
      <!-- <div class="bg-grayjugueti text-white p-1 font-bogle px-4 feed">
        <p class="text-xs lg:text-sm">
          {{ videoName }}
        </p>
      </div> -->
      <div
        class="bg-aquajugueti text-center text-xs lg:text-sm text-white p-1 rounded-full font-extrabold px-4 feed"
      >
        {{ userName.split(" ")[0] }}{{ " " }}{{ userName.split(" ")[1] }}
      </div>
    </div>
    <div class="mt-3 w-full card-image min-height flex justify-center relative">
      <img class="rounded-lg imagen" :src="thumbnail" alt="juguetilandia" />
      <img
        class="absolute top-0 left-0 h-10 w-10 md:h-14 md:w-14 mt-4 ml-4 md:mt-3 md:ml-3"
        rel="preload"
        src="https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/Grupo 559.svg"
        alt=""
        data-not-lazy
        loading="lazy"
      />
    </div>
    <div class="flex justify-end items-center w-full mt-1">
      <img
        class="h-6 w-6"
        src="https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/ojo.svg"
        alt="Vistas"
      />
      <span class="font-bogle ml-1 mr-4 h-6 font-bold mt-1">
        {{ viewsCount }}
      </span>
      <!-- <img class="h-6 w-6" src="https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/compartir.svg" alt="Compartir"> -->
    </div>
  </div>
</template>

<script>
export default {
  props: {
    videoName: String,
    userName: String,
    viewsCount: Number,
    thumbnail: String,
  },
};
</script>
<style scoped>
.imagen {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  min-height: 5em;
  height: 90%;
}
.feed {
  margin: 0 0.3em;
  border-radius: 15pt;
  box-sizing: border-box;
  padding: 0.5em;
  min-width: 6rem;
  text-align: center;
  -webkit-box-shadow: 4px 4px 5px -3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 5px -3px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 5px -3px rgba(0, 0, 0, 1);

  text-shadow: 2px 0px 1px rgba(0, 0, 0, 0.6);
}
.card {
  padding: 1rem 0;
}
.card-image {
  max-height: 15rem;
  min-height: 15rem;
  border: solid 1px rgba(0, 0, 0, 0.0001);
  padding: auto 1rem;
}
.min-height {
  height: 100%;
  min-height: 100%;
}

@media (min-width: 720px) {
  .card-image {
    max-height: 20rem;
    min-height: 20rem;
    padding: auto 1rem;
  }
}
</style>
