<template>
<div class="fixed  z-50 inset-0  w-screen h-full">
  <!-- Boton de salida -->
  <div class="blur fixed z-0" />
  <div class="w-6  h-6 rounded-full push-boton flex justify-center items-center lg:w-10 lg:h-10 bg-white lg:bg-gray-400 lg:bg-opacity-50 cursor-pointer mr-8 mt-8 lg:mr-8 absolute top-0 right-0 lg:mt-24 lg:mr-24 z-50" src="@/assets/img/flecha-derecha.svg" @click="onClickButtonExit">
    <div class="text-lg  text-red-600 font-black lg:text-white lg:text-4xl">
      &times;
    </div>
  </div>
  <!-- Boton de avance -->
  <div class="  z-50 w-12 h-12 rounded-full  border-opacity-75 border-solid shadow-lg lg:w-16 lg:h-16 push-boton cursor-pointer mr-2 lg:mr-8 absolute right-0 heigth-buttons flex justify-center items-center" @click="onClickButtonNext">
    <div class="text-3xl text-white">
      &rang;
    </div>
  </div>

  <!-- Boton de retroceso -->

  <div v-if="numeroPantalla>0" class="  z-50 w-12 h-12 rounded-full shadow-lg lg:w-16 lg:h-16 push-boton cursor-pointer ml-2 lg:ml-8 absolute left-0 heigth-buttons flex justify-center items-center" @click="onclickPrevious">
    <div class="text-3xl text-white">
      &lang;
    </div>
  </div>
  <!-- Header -->
  <div class=" flex flex-col h-full">
      <div class="flex h-5/6 lg:h-4/6  body-fi flex-col lg:flex-row">
          <div class=" relative m-5 lg:p-16 border-box  h-2/6 flex flex-1 justify-center items-end">
            <img class="w-5/6 mt-3 md:w-4/6 lg:w-full  min-h-full" :src="require('@/assets/img/small/Base.png')" data-not-lazy>
            <p class="absolute header-text w-full text-white font-extrabold text-lg">
              <span v-if="numeroPantalla===0" class="block">¿Cómo</span>
              <span v-if="numeroPantalla===0">puedo</span>
              <span v-if="numeroPantalla===0" class="block">crear mi video?</span>
              <span v-if="numeroPantalla===1" class="block mt-8">
              {{ titulos[numeroPantalla] }}</span>
              <span v-if="numeroPantalla===2" class="block mt-5 lg:mt-8">
              {{"¡Toma las fotos" }}
              </span>
              <span v-if="numeroPantalla===2" class="block ">
              {{"que necesites!" }}
              </span>
              <span v-if="numeroPantalla===3" class="block mt-6 lg:mt-10">
              {{ titulos[numeroPantalla] }}</span>

            </p>
          </div>

        <div class=" z-30 flex flex-1 justify-center h-4/6  items-center lg:items-start flex-col">
          <div class="flex flex-col  justify-center items-center">
            <img class="h-3/6 w-20 sm:w-48" :src="require('@/assets/img/small/stopmotionfirsttime.png')" data-not-lazy>
            <div class=" h-3/6 mx-12 md:mx-20 lg:mx-16">
              <p class="text-center leading-6 lg:leading-10 font-bold text-base sm:text-lg md:text-2xl lg:text-xl text-white mt-5">
                {{ textos[numeroPantalla] }}
              </p>
            </div>
          </div>
        </div>
    
    </div>

    <div class="  footer-fi z-50 h-1/6 lg:h-2/6 w-full flex justify-center">
      <div class="flex  w-5/12 md:w-3/12 lg:w-2/12  justify-around items-end pb-10 md:pb-8 lg:md:pb-10  mx-auto">
        <div v-if="numeroPantalla===0" class="elipse shadow-inner bg-redjugueti" />
        <div class="elipse bg-white " />
        <div v-if="numeroPantalla===1" class="elipse bg-redjugueti" />
        <div class="elipse bg-white" />
        <div v-if="numeroPantalla===2" class="elipse bg-redjugueti" />
        <div class="elipse bg-white" />
        <div v-if="numeroPantalla===3" class="elipse bg-redjugueti" />
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {

  layout: '',
  head() {
      return {
        link: [
          {
            rel: 'preload',
            href: '../../assets/img/stopmotionfirsttime.png',
            as:"image"
          },
          {
            rel: 'preload',
            href: '../../assets/img/Base.svg',
            as:"image"
          },
        ]
      }
    },
  data() {
    return {
      numeroPantalla: 0,
      textos: ['Empieza por elegir los juguetes que quieras que aparezcan en tu video', 'Acomoda tu celular en una posición fija frente a tus juguetes,puedes apoyarte en un tripié', 'Cada que tomes una foto mueve los elementos de tu escena, recuerda que necesitas al menos 10 fotos para subirlo :)', 'Tenemos algunos ejemplos en nuestro canal para que puedas inspirarte, para verlos solo da click en la imagen'],
      titulos: ['puedo ', 'Organízate', '¡Toma las fotos que necesites!', '!Inspírate¡']
    }
  },
  methods: {
    onClickButtonNext() {
      if (this.numeroPantalla <= 3) {
        if (this.numeroPantalla === 3) {
          console.log('Deberia salir')
          this.$store.commit('create/setIsModalFirstTimeVisible', false)
        }
        this.numeroPantalla = this.numeroPantalla + 1
      }
    },
    onclickPrevious() {
      if (this.numeroPantalla >= 1) {
        this.numeroPantalla = this.numeroPantalla - 1
      }
    },
    onClickButtonExit() {
      this.$store.commit('create/setIsModalFirstTimeVisible', false)
    }
  }
}
</script>

<style scoped>


.header-text {
  top: 25%;
  left: 35%;
}
.footer-fi{
  flex-shrink:4;
  flex-grow:2;
  min-height:3.5rem;
}
.body-fi{
  flex-grow:3;
  flex-shrink:1;
}

@media (min-width:400px) {
  .header-text {
    top: 29%;
    left: 35%;
  }
}

@media (min-width:768px) {
  .header-text {
    font-size: 1.9rem;
    top: 30%;
    left: 35%;
  }
}

@media (min-width:800px) {
  .header-text {
    top: 35%;
    left: 35%;
  }
}

@media (min-width:960px) {
  .header-text {
    font-size: 2em;
    top: 35%;
    left: 35%;
  }
}

@media (min-width:1200px) {
  .header-text {
    font-size: 2rem;
    top: 34%;
    left: 35%;
  }
}

.heigth-buttons {
  top: 50%;
  background: rgba(211, 211, 211, 0.1)
}

.elipse {
  height: 0.7em;
  width: 0.7em;
  padding: 0.6rem;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
}

.blur {
  top: -10em;
  left: -10em;
  bottom: -10px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  right: -10px;
  background: #495057 0% 0% no-repeat padding-box;
  opacity: 0.8;
  filter: blur(100%);
  backdrop-filter: blur(26px);
  -webkit-backdrop-filter: blur(26px);

}


</style>
