<template>
  <div class="w-full flex justify-around mt-1 p-2 histories">
    <img
      class="bg-blueformjugueti push-boton border-solid border-2 border-red-500 histo cursor-pointer rounded-full h-12 w-12 md:h-16 md:w-16 flex items-center justify-center"
      src="../../assets/img/small/tutorialcrea.jpg"
      @click="onClickInspiration('https://www.youtube.com/embed/Curgh9uW1bA')"
    />

    <img
      class="bg-blueformjugueti push-boton border-solid border-2 border-red-500 histo cursor-pointer rounded-full h-12 w-12 md:h-16 md:w-16 flex items-center justify-center"
      src="../../assets/img/small/crea-inspiracion-venom.jpg"
      @click="onClickInspiration('https://www.youtube.com/embed/Ne4nxVHCnpI')"
    />

    <img
      class="bg-blueformjugueti push-boton border-solid border-2 border-red-500 histo cursor-pointer rounded-full h-12 w-12 md:h-16 md:w-16 flex items-center justify-center"
      src="../../assets/img/small/crea-inspiracion-yoda.jpg"
      @click="onClickInspiration('https://www.youtube.com/embed/7-DdSp13ctc')"
    />

    <img
      class="bg-blueformjugueti push-boton border-solid border-2 border-red-500 histo cursor-pointer rounded-full h-12 w-12 md:h-16 md:w-16 flex items-center justify-center"
      src="../../assets/img/small/crea-inspiracion-t-rex.jpg"
      @click="onClickInspiration('https://www.youtube.com/embed/NfFGR1dktWU')"
    />

    <img
      class="bg-blueformjugueti push-boton border-solid border-2 border-red-500 histo cursor-pointer rounded-full h-12 w-12 md:h-16 md:w-16 flex items-center justify-center"
      src="../../assets/img/small/crea-inspiracion-barbie.jpg"
      @click="onClickInspiration('https://www.youtube.com/embed/c8IUuARYkQw')"
    />

    <img
      class="bg-blueformjugueti border-solid border-2 border-red-500 histo cursor-pointer rounded-full h-12 w-12 md:h-16 md:w-16 flex items-center justify-center"
      src="../../assets/img/small/crea-inspiracion-frozen.jpg"
      @click="onClickInspiration('https://www.youtube.com/embed/P_bMsAZ1cPw')"
    />
  </div>
</template>

<script>
export default {
  props: {
    onClickInspiration: Function,
  },
  data() {
    return {
      stories: [
        {
          imgUrl: "../../assets/img/tutorialcrea.jpg",
          videoUrl: "https://www.youtube.com/embed/Curgh9uW1bA",
        },
        {
          imgUrl:
            "https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/crea-inspiracion-venom.jpg",
          videoUrl: "https://www.youtube.com/embed/Ne4nxVHCnpI",
        },
        {
          imgUrl:
            "https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/crea-inspiracion-yoda.jpg",
          videoUrl: "https://www.youtube.com/embed/7-DdSp13ctc",
        },
        {
          imgUrl:
            "https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/crea-inspiracion-t-rex.jpg",
          videoUrl: "https://www.youtube.com/embed/NfFGR1dktWU",
        },
        {
          imgUrl:
            "https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/crea-inspiracion-barbie.jpg",
          videoUrl: "https://www.youtube.com/embed/c8IUuARYkQw",
        },
        {
          imgUrl:
            "https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/crea-inspiracion-frozen.jpg",
          videoUrl: "https://www.youtube.com/embed/P_bMsAZ1cPw",
        },
      ],
    };
  },
};
</script>

<style>
.histories {
  background: transparent;
}
</style>
