<template>
    <div v-if="isLoadingShown" class="flex flex-col items-center justify-center h-full mt-3">
      <img class="animate-spin w-12 h-12" :src="require('@/assets/img/all/loading.png')" alt="Loading" data-not-lazy>
    </div>
</template>
<script>
export default {
  props: {
      isLoadingShown:Boolean,
  },
}
</script>

