<template>
  <div class="flex-col items-start mb-3 card">
    <div class="flex justify-between w-full py-2 px-1">
      <div
        class="bg-aquajugueti text-center text-xs lg:text-sm text-white p-1 rounded-full font-extrabold px-4 feed"
      >
        {{ userName.split(" ")[0] }}{{ " " }}{{ userName.split(" ")[1] }}
      </div>
    </div>

    <div class="mt-3 w-full card-image min-height flex justify-center relative">
      <img class="rounded-lg bg-contain imagen" :src="thumbnail" alt="" />
      <img
        class="absolute top-0 left-0 h-10 w-10 mt-4 ml-4"
        src="https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/Grupo 559.svg"
        alt=""
      />
    </div>
    <div class="flex justify-between items-center w-full">
      <!-- <button class="bg-transparent hover:bg-redjugueti-dark text-redjugueti hover:text-white px-4 border border-redjugueti rounded-full">
        Compartir
      </button>-->
      <button
        class="bg-transparent push-boton hover:bg-redjugueti-dark text-redjugueti hover:text-white px-4 border border-redjugueti text-center text-xs lg:text-sm p-1 rounded-full font-bogle px-4 feed"
      >
        Eliminar
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    thumbnail: String,
    videoName: String,
    userName: String,
    viewsCount: Number,
  },
};
</script>

<style scoped>
.imagen {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  min-height: 5em;
  height: 90%;
}
.feed {
  margin: 0 0.3em;
  border-radius: 15pt;
  box-sizing: border-box;
  padding: 0.5em;
  min-width: 6rem;
  text-align: center;
  -webkit-box-shadow: 4px 4px 5px -3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 5px -3px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 5px -3px rgba(0, 0, 0, 1);
  transition: 0.2s;
}
.card {
  padding: 1rem 0;
}
.card-image {
  max-height: 15rem;
  min-height: 15rem;
  border: solid 1px rgba(0, 0, 0, 0.0001);
  padding: auto 1rem;
}
.min-height {
  height: 100%;
  min-height: 100%;
}

@media (min-width: 720px) {
  .card-image {
    max-height: 20rem;
    min-height: 20rem;
    padding: auto 1rem;
  }
}
</style>
>
