<template>
  <div class="flex flex-col items-start mb-3">
    <div class="mt-3 w-full flex justify-center relative">
      <img class="w-full rounded-lg" :src="thumbnail" alt="">
      <img class="absolute top-0 left-0 h-10 w-10 mt-4 ml-4" src="https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/Grupo 559.svg" alt="">
    </div>
  </div>
</template>

<script>
export default {
  props: {
    thumbnail: String
  }
}
</script>
