<template>
  <div class="container m-auto">
    <div>
      <Logo />
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    // console.log('PARENT URL: ', window.top.location.href)
    const room = localStorage.getItem("room");
    const room2 = this.$auth.$storage.getLocalStorage("room");
    if (room) {
      if (room === "register" || room2 === "register") {
        this.$router.push({ name: "register" });
      } else if (room === "logIn" || room2 === "logIn") {
        this.$router.push({ name: "juguetilandia" });
      } else if (room === "recovery" || room2 === "recovery") {
        this.$router.push({ name: "recovery" });
      } else if (room === "resend" || room2 === "resend") {
        this.$router.push({ name: "resendcode" });
      }
    } else {
      window.top.location.href =
        "https://vivirmejor.mx/?page_id=10699&preview=1&_ppp=adcb6a63fa";
    }

    // console.log('HOLA')
    // setTimeout(() => {
    //   this.$router.push({ name: 'juguetilandia' })
    // }, 2000)
  },
};
</script>

<style></style>
