<template>
  <div class="container flex flex-col justify-center m-auto pt-5 h-full overflow-y-scroll">
    <div>
      <Logo />
    </div>
    <div class="flex flex-col items-center">
      <p class="text-white text-2xl font-bold bg-redjugueti m-3 py-2 px-4 rounded">Iniciar sesión</p>
      <p class="text-white text-lg font-bold text-base mb-5">Por favor ingresa tus datos</p>
      <input ref="login_form_email" v-model="user" class="text-white placeholder-white bg-blueformjugueti w-10/12 rounded mb-5 px-5 py-2" type="text" placeholder="ejemplo@correo.com">
      <div class="w-10/12 mb-5">
        <input ref="login_form_password" v-model="password" class="text-white placeholder-white bg-blueformjugueti w-full rounded px-5 py-2" type="password" placeholder="Contraseña">
        <p class="text-red-500 text-xs italic mt-1 hidden">Favor de ingresar una contraseña.</p>
      </div>
      <button class="w-10/12 bg-redjugueti hover:bg-redjugueti-dark text-white text-2xl font-bold py-2 px-4 mb-3 rounded" @click="onSubmitLoginForm">
        Entrar
      </button>
      <p class="text-white">Si no tienes cuenta <nuxt-link to="/register"><span class="text-red-600">Registrate ahora</span></nuxt-link></p>
      <p class="text-white">¿Olvidaste tu contraseña? <nuxt-link to="/recovery"><span class="text-red-600">Recuperar</span></nuxt-link></p>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'init',

  data () {
    return {
      user: '',
      password: ''
    }
  },
  mounted () {
    localStorage.clear()
  },
  methods: {
    onSubmitLoginForm () {
      if (this.onValidateFields()) {
        const userData = {
          email: this.user.toLowerCase(),
          password: this.password
        }
        this.loginUser(userData)
      }
    },
    async loginUser (userData) {
      try {
        const { data } = await this.$api.user.login(userData)
        console.log('DATA: ', data)
        if (data.status.code === '0000') {
          console.log('EXITO')
          localStorage.setItem('token', data.result.token)
          localStorage.setItem('email', data.result.user.email)
          localStorage.setItem('_id', data.result.user._id)
          this.$router.push({
            name: 'juguetilandia'
          })
        }
      } catch (err) {
        console.log(err)
      }
    },
    onValidateFields () {
      let isFormValid = true
      this.clearErroFields()
      if (this.user === '') {
        this.$refs.login_form_email.classList.add('error')
        isFormValid = false
      }
      if (!this.user.match(/\S+@\S+\.\S+/)) {
        this.$refs.login_form_email.classList.add('error')
        isFormValid = false
      }
      if (this.password === '') {
        this.$refs.login_form_password.classList.add('error')
        isFormValid = false
      }
      return isFormValid
    },
    clearErroFields () {
      if (this.$refs.login_form_email.classList.contains('error')) {
        this.$refs.login_form_email.classList.remove('error')
      }

      if (this.$refs.login_form_password.classList.contains('error')) {
        this.$refs.login_form_password.classList.remove('error')
      }
    }
  }
}
</script>

<style scoped>

.error
{
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em #d1003d;
}

@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}

</style>
