<template>
  <div
    class="container flex flex-col justify-center m-auto h-full login-iframe-juguetilandia"
  >
    <div class="flex flex-col items-center">
      <input
        ref="login_form_email"
        v-model="user"
        class="inputFields w-10/12 rounded mb-3 px-5 py-1 border-white border-2"
        type="text"
        placeholder="Correo"
      />
      <div class="relative w-10/12">
        <input
          ref="login_form_password"
          v-model="password"
          class="inputFields w-full rounded mb-5 px-5 py-1 border-white border-2"
          :type="isPasswordVisible ? 'text' : 'password'"
          placeholder="contraseña"
        />
        <div class="absolute right-0 top-0 pr-2 mt-1">
          <svg
            v-if="isPasswordVisible"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 24 24"
            @click="togglePassword"
          >
            <path
              d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"
            />
          </svg>
          <svg
            v-if="!isPasswordVisible"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 24 24"
            @click="togglePassword"
          >
            <path
              d="M11.885 14.988l3.104-3.098.011.11c0 1.654-1.346 3-3 3l-.115-.012zm8.048-8.032l-3.274 3.268c.212.554.341 1.149.341 1.776 0 2.757-2.243 5-5 5-.631 0-1.229-.13-1.785-.344l-2.377 2.372c1.276.588 2.671.972 4.177.972 7.733 0 11.985-8.449 11.985-8.449s-1.415-2.478-4.067-4.595zm1.431-3.536l-18.619 18.58-1.382-1.422 3.455-3.447c-3.022-2.45-4.818-5.58-4.818-5.58s4.446-7.551 12.015-7.551c1.825 0 3.456.426 4.886 1.075l3.081-3.075 1.382 1.42zm-13.751 10.922l1.519-1.515c-.077-.264-.132-.538-.132-.827 0-1.654 1.346-3 3-3 .291 0 .567.055.833.134l1.518-1.515c-.704-.382-1.496-.619-2.351-.619-2.757 0-5 2.243-5 5 0 .852.235 1.641.613 2.342z"
            />
          </svg>
        </div>
      </div>

      <div class="grid grid-flow-col grid-cols-2 gap-4">
        <button
          class="ingresar w-full text-black text-base font-bold py-2 px-2 mb-2 rounded"
          @click="onSubmitLoginForm"
        >
          Ingresar
        </button>
        <button
          class="bg-blueformjugueti w-full text-white text-base font-bold py-2 px-2 mb-2 rounded"
          @click="registerPath"
        >
          Registrarme
        </button>
      </div>

      <p ref="login_iframe_error_message" class="text-white text-xs italic mt-1 hidden">
        {{ errorMessage }}
      </p>
      <p class="text-white text-center">
        ¿Olvidaste tu contraseña?
        <span
          class="text-black cursor-pointer underline font-bold"
          @click="passwordRecovery"
          >Recuperar</span
        >
      </p>
      <p class="w-10/12 text-white text-center">
        ¿No has validado tu código?
        <span class="text-black cursor-pointer underline font-bold" @click="onResendCode"
          >Validar código de verificación</span
        >
      </p>
    </div>
  </div>
</template>

<script>
export default {
  layout: "empty",
  data() {
    return {
      user: "",
      password: "",
      errorMessage: "",
      isPasswordVisible: false,
    };
  },
  mounted() {
    localStorage.clear();
  },
  methods: {
    onSubmitLoginForm() {
      if (this.onValidateFields()) {
        const userData = {
          email: this.user.toLowerCase().trim(),
          password: this.password,
        };
        this.loginUser(userData);
      }
    },
    registerPath() {
      localStorage.setItem("room", "register");
      this.$auth.$storage.setLocalStorage("room", "register");
      window.top.location.href = "https://vivirmejor.mx/mundo-juguetilandia-webapp/";
    },
    passwordRecovery() {
      localStorage.setItem("room", "recovery");
      this.$auth.$storage.setLocalStorage("room", "recovery");
      window.top.location.href = "https://vivirmejor.mx/mundo-juguetilandia-webapp/";
    },
    onResendCode() {
      localStorage.setItem("room", "resend");
      this.$auth.$storage.setLocalStorage("room", "resend");
      window.top.location.href = "https://vivirmejor.mx/mundo-juguetilandia-webapp/";
    },
    async loginUser(userData) {
      try {
        const { data } = await this.$api.user.login(userData);
        console.log("res", data);
        if (data.status.code === "0000") {
          console.log("EXITO");

          console.log("SI HUBO STORAGE");
          localStorage.setItem("token", data.result.token);
          localStorage.setItem("email", data.result.user.email);
          localStorage.setItem("_id", data.result.user._id);
          localStorage.setItem("room", "logIn");

          this.$auth.$storage.setLocalStorage("token", data.result.token);
          this.$auth.$storage.setLocalStorage("email", data.result.user.email);
          this.$auth.$storage.setLocalStorage("_id", data.result.user._id);
          this.$auth.$storage.setLocalStorage("room", "logIn");

          window.top.location.href = "https://vivirmejor.mx/mundo-juguetilandia-webapp/";
        } else {
          if (this.$refs.login_iframe_error_message.classList.contains("hidden")) {
            this.$refs.login_iframe_error_message.classList.remove("hidden");
          }
          this.errorMessage = data.status.message;
        }
      } catch (err) {
        console.log(err);
      }
    },
    onValidateFields() {
      let isFormValid = true;
      this.clearErroFields();
      if (this.user === "" || this.user === null) {
        this.$refs.login_form_email.classList.add("error");
        isFormValid = false;
      }
      if (!this.user.match(/\S+@\S+\.\S+/)) {
        this.$refs.login_form_email.classList.add("error");
        isFormValid = false;
      }
      if (this.password === "") {
        this.$refs.login_form_password.classList.add("error");
        isFormValid = false;
      }
      return isFormValid;
    },
    clearErroFields() {
      if (this.$refs.login_form_email.classList.contains("error")) {
        this.$refs.login_form_email.classList.remove("error");
      }

      if (this.$refs.login_form_password.classList.contains("error")) {
        this.$refs.login_form_password.classList.remove("error");
      }

      if (!this.$refs.login_iframe_error_message.classList.contains("hidden")) {
        this.$refs.login_iframe_error_message.classList.add("hidden");
      }
    },
    togglePassword() {
      this.isPasswordVisible = !this.isPasswordVisible;
    },
  },
};
</script>

<style scoped>
.login-iframe-juguetilandia {
  background-color: #cb0b86;
}

.ingresar {
  background-color: #fdcd04;
}

.ingresar:hover {
  background-color: #ffb833;
}

.registrar {
  background-color: #1284c0;
}

.registrar:hover {
  box-shadow: 0px 0px 16px #1284c0 !important;
}

.inputFields:focus {
  box-shadow: 0px 0px 16px #cb0b86;
  border: 2px solid #ffffff;
}

.error {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em #d1003d;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }

  25% {
    margin-left: 0.5rem;
  }

  75% {
    margin-left: -0.5rem;
  }

  100% {
    margin-left: 0rem;
  }
}
</style>
