<template>
  <div class="container m-auto">
    <div>
      <Logo />
    </div>
    <div class="flex flex-col items-center">
      <button class="w-10/12 bg-redjugueti hover:bg-redjugueti-dark text-white text-2xl font-bold py-2 px-4 mb-3 rounded">
        <nuxt-link to="/menu">
          Descubre
        </nuxt-link>
      </button>
      <button class="w-10/12 bg-redjugueti hover:bg-redjugueti-dark text-white text-2xl font-bold py-2 px-4 mb-3 rounded">
        <nuxt-link to="/menu">
          Crea
        </nuxt-link>
      </button>
      <button class="w-10/12 bg-redjugueti hover:bg-redjugueti-dark text-white text-2xl font-bold py-2 px-4 mb-3 rounded">
        <nuxt-link to="/menu">
          Juega
        </nuxt-link>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'circleheader'
}
</script>

<style>

</style>
