<template>
  <div
    class="w-full flex flex-col justify-center m-auto h-full overflow-y-scroll invisible-scrollbar"
  >
    <div>
      <Logo />
    </div>
    <div
      class="w-full h-full md:w-8/12 md:w-6/12 lg:w-6/12 xl:w-4/12 mx-auto flex flex-col items-center"
    >
      <p class="text-white text-2xl font-bold bg-redjugueti m-3 py-2 px-4 rounded">
        Recuperar contraseña
      </p>
      <p class="text-white text-lg text-center font-bold text-base mb-5">
        Por favor ingresa tu correo y nueva contraseña
      </p>
      <input
        ref="login_form_email"
        v-model="user"
        class="text-white placeholder-white bg-blueformjugueti w-10/12 rounded mb-5 px-5 py-2"
        type="text"
        placeholder="Correo"
      />
      <div class="w-10/12 mb-5">
        <input
          ref="login_form_password"
          v-model="password"
          class="text-white placeholder-white bg-blueformjugueti w-full rounded px-5 py-2"
          type="password"
          placeholder="Contraseña"
        />
      </div>
      <div class="w-10/12 mb-5">
        <input
          ref="login_form_confirm_password"
          v-model="confirmPassword"
          class="text-white placeholder-white bg-blueformjugueti w-full rounded px-5 py-2"
          type="password"
          placeholder="Confirmar contraseña"
        />
        <p
          ref="login_recovery_error_message"
          class="text-white text-xs italic mt-1 hidden"
        >
          {{ errorMessage }}
        </p>
      </div>
      <button
        class="w-10/12 bg-redjugueti hover:bg-redjugueti-dark text-white text-2xl font-bold py-2 px-4 mb-3 rounded"
        @click="onSubmitRecoveryForm"
      >
        Cambiar contraseña
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: "",
      password: "",
      confirmPassword: "",
      errorMessage: "",
    };
  },
  mounted() {
    localStorage.clear();
  },
  methods: {
    onSubmitRecoveryForm() {
      if (this.onValidateFields()) {
        console.log(this.user, this.password);
        const userData = {
          email: this.user.toLowerCase(),
          password: this.password,
        };
        this.passwordRecovery(userData);
      }
    },
    async passwordRecovery(userData) {
      try {
        const { data } = await this.$api.user.recovery(userData);
        console.log("DATA: ", data);
        if (data.status.code === "0000") {
          console.log("EXITO");
          this.$router.push({
            name: "verification",
            query: {
              email: this.user.toLowerCase(),
            },
          });
        } else {
          if (this.$refs.login_recovery_error_message.classList.contains("hidden")) {
            this.$refs.login_recovery_error_message.classList.remove("hidden");
          }
          this.errorMessage = data.status.message;
        }
      } catch (err) {
        console.log(err);
        if (err.response.status === 400) {
          if (this.$refs.login_recovery_error_message.classList.contains("hidden")) {
            this.$refs.login_recovery_error_message.classList.remove("hidden");
          }
          this.errorMessage = err.response.data.status.message;
        }
      }
    },
    onValidateFields() {
      let isFormValid = true;
      this.clearErroFields();
      if (this.user === "") {
        this.$refs.login_form_email.classList.add("error");
        isFormValid = false;
      }
      if (this.password === "") {
        this.$refs.login_form_password.classList.add("error");
        isFormValid = false;
      }
      if (this.confirmPassword === "") {
        this.$refs.login_form_confirm_password.classList.add("error");
        isFormValid = false;
      }
      if (this.confirmPassword !== this.password) {
        this.$refs.login_form_confirm_password.classList.add("error");
        isFormValid = false;
      }
      return isFormValid;
    },
    clearErroFields() {
      if (this.$refs.login_form_email.classList.contains("error")) {
        this.$refs.login_form_email.classList.remove("error");
      }
      if (this.$refs.login_form_password.classList.contains("error")) {
        this.$refs.login_form_password.classList.remove("error");
      }
      if (this.$refs.login_form_confirm_password.classList.contains("error")) {
        this.$refs.login_form_confirm_password.classList.remove("error");
      }
      if (!this.$refs.login_recovery_error_message.classList.contains("hidden")) {
        this.$refs.login_recovery_error_message.classList.add("hidden");
      }
    },
  },
};
</script>

<style scoped>
.error {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em #d1003d;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}
</style>
