<template>
  <div class="w-full m-auto h-screen overflow-y-scroll invisible-scrollbar">
    <div>
      <Logo />
    </div>
    <div class="flex flex-col items-center contenedor-form">
      <p
        class="text-white text-2xl font-bold bg-redjugueti w-10/12 lg:w-6/12 mx-auto text-center lg:my-10 m-3 py-2 lg:py-1 px-4 lg:px-2 text-shadow rounded"
      >
        Registro
      </p>
      <p class="text-white text-lg font-bold text-base mb-5">
        Por favor ingresa tus datos
      </p>
      <p class="w-10/12 text-white text-center text-sm text-base mb-5">
        Recuerda hacerlo con la ayuda de un adulto
      </p>
      <input
        v-model="name"
        :class="errors.name ? 'error' : ''"
        class="text-white placeholder-white bg-blueformjugueti w-10/12 rounded mb-5 px-5 py-3"
        type="text"
        placeholder="Nombre"
        autofocus
      />
      <p v-if="errors.name" class="text-white text-xs italic">Verifique su nombre</p>
      <input
        v-model="email"
        :class="errors.email ? 'error' : ''"
        class="text-white placeholder-white bg-blueformjugueti w-10/12 rounded mb-5 px-5 py-3"
        type="text"
        placeholder="Correo electrónico"
      />
      <p v-if="errors.email" class="text-white text-xs italic">Verifique este email</p>
      <input
        v-model="phone"
        :class="errors.phone ? 'error' : ''"
        class="text-white placeholder-white bg-blueformjugueti w-10/12 rounded mb-5 px-5 py-3"
        type="text"
        placeholder="Teléfono"
      />
      <p v-if="errors.phone" class="text-white text-xs italic">Verifique su teléfono</p>
      <div class="relative w-10/12">
        <input
          v-model="password"
          :class="errors.password ? 'error' : ''"
          class="text-white placeholder-white bg-blueformjugueti w-full rounded mb-5 px-5 py-3"
          :type="isPasswordVisible ? 'text' : 'password'"
          placeholder="Contraseña"
        />
        <div class="absolute right-0 top-0 pr-2 mt-1 flex justify-center align-center">
          <img
            @click="togglePassword"
            v-if="isPasswordVisible"
            src="@/assets/img/passvisible.svg"
          />
          <img
            @click="togglePassword"
            v-if="!isPasswordVisible"
            src="@/assets/img/passinvisible.svg"
          />
        </div>
      </div>
      <p v-if="errors.password" class="text-white text-xs italic">
        Verifique su password
      </p>
      <div class="relative w-10/12">
        <input
          v-model="password2"
          :class="errors.confirmation ? 'error' : ''"
          class="text-white placeholder-white bg-blueformjugueti w-full rounded mb-5 px-5 py-3"
          :type="isPassword2Visible ? 'text' : 'password'"
          placeholder="Repetir contraseña"
        />
        <div class="absolute right-0 top-0 pr-2 mt-1">
          <img
            @click="togglePassword2"
            v-if="isPassword2Visible"
            src="@/assets/img/passvisible.svg"
          />
          <img
            @click="togglePassword2"
            v-if="!isPassword2Visible"
            src="@/assets/img/passinvisible.svg"
          />
        </div>
      </div>
      <p v-if="errors.confirmation" class="text-white text-xs italic">
        Verifique este dato
      </p>
      <p class="w-10/12 text-white mb-5">
        <input class="mr-2 leading-tight" type="checkbox" v-model="toogle" />
        He leido y acepto los
        <span
          class="text-redjugueti underline font-bold cursor-pointer"
          @click="
            onCatalogOpen(
              'https://www.walmart.com.mx/contenido/terminos-de-uso?webSyncID=e61136a7-793e-4739-955d-da151f09c414&sessionGUID=a9d030c6-416f-4b2c-9f9f-b3614e6f8979'
            )
          "
          >Términos y condiciones</span
        >
        y
        <span
          class="text-redjugueti underline font-bold cursor-pointer"
          @click="
            onCatalogOpen(
              'https://i5.walmartimages.com/dfw/4ff9c6c9-1086/k2-_3495dc06-0618-4886-97e7-4142f32083c9.v1.pdf'
            )
          "
          >Aviso de privacidad</span
        >
      </p>
      <p v-if="errors.checkbox" class="text-white text-xs italic">
        Por favor acepte los terminos y condiciones
      </p>
      <!-- <p v-if="errors.login" class="text-white text-xs italic mt-1 mb-3 hidden">{{ errorMessage }}</p> -->
      <p
        v-if="errors.login"
        :class="errors.login ? 'error' : ''"
        class="text-white text-xs italic mb-3 rounded-lg p-1"
      >
        {{ errorMessage }}
      </p>
      <p v-if="errors.success" class="text-white text-xs italic mb-3">
        Usuario registrado correctamente.
      </p>

      <button
        class="w-10/12 bg-redjugueti hover:bg-redjugueti-dark text-white text-2xl font-bold py-1 shadow-lg text-shadow px-3 mb-10 rounded"
        @click="onSubmitSignInForm"
      >
        Registrarse
      </button>
    </div>
    <Modal
      :isModalVisible="isConfirmationModalVisisble"
      @onModalClick="onConfirmationEmailModalClose"
    >
      <div class="bg-white rounded-lg p-5">
        <div>Se creará la cuenta con el siguiente correo:</div>
        <p class="text-base font-bold mb-5">{{ email }}</p>
        <div class="flex justify-center">
          <button
            class="w-10/12 bg-gray-500 hover:bg-gray-700 text-white text-base font-bold py-2 px-2 rounded mx-2"
            @click="onConfirmationEmailModalClose"
          >
            Cancelar
          </button>
          <button
            class="w-10/12 bg-redjugueti hover:bg-redjugueti-dark text-white text-base font-bold py-2 px-2 rounded mx-2"
            @click="registerUser()"
          >
            Continuar
          </button>
        </div>
      </div>
    </Modal>
    <Modal :isModalVisible="isCatalogView" @onModalClick="onCatalogClose">
      <iframe
        :src="externalUrl"
        class="register-walmart-catalog"
        frameborder="0"
        allowfullscreen
      />
    </Modal>
  </div>
</template>

<script>
const initialErrors = {
  name: false,
  email: false,
  phone: false,
  password: false,
  confirmation: false,
  checkbox: false,
  login: false,
  success: false,
};

import Modal from "@/components/modal";

export default {
  layout: "init",
  components: {
    Modal,
  },
  data() {
    return {
      errors: { ...initialErrors },
      name: "",
      email: "",
      phone: "",
      password: "",
      password2: "",
      toogle: true,
      errorMessage: "",
      isConfirmationModalVisisble: false,
      userData: null,
      isCatalogView: false,
      externalUrl: "",
      isPasswordVisible: false,
      isPassword2Visible: false,
    };
  },
  mounted() {
    localStorage.clear();
  },
  methods: {
    onSubmitSignInForm() {
      console.log(this.toogle);
      if (this.onValidateFields() && this.toogle) {
        this.userData = {
          email: this.email.toLowerCase().trim(),
          password: this.password.trim(),
          name: this.name.trim(),
          phoneNumber: this.phone.trim(),
        };
        this.onConfirmationEmailModalShown();
      }
    },
    onValidateFields() {
      let isFormValid = true;
      this.clearErroFields();

      if (this.name === "" || this.user === null) {
        this.errors.name = true;
        isFormValid = false;
      }

      if (this.email === "" || this.email === null) {
        this.errors.email = true;
        isFormValid = false;
      }

      if (this.phone === "" || this.phone === null) {
        this.errors.phone = true;
        isFormValid = false;
      }

      if (this.password === "" || this.password === null) {
        this.errors.password = true;
        isFormValid = false;
      }

      if (this.password2 === "" || this.password2 === null) {
        this.errors.password2 = true;
        isFormValid = false;
      }

      if (!this.email.match(/\S+@\S+\.\S+/)) {
        this.errors.email = true;
        this.errorMessage = "Verificar formato del correo";
        isFormValid = false;
      }

      if (this.password !== this.password2) {
        this.errors.confirmation = true;
        this.errorMessage = "La contraseña no coincide";
        isFormValid = false;
      }

      if (this.phone.length !== 10) {
        this.errors.phone = true;
        isFormValid = false;
      }

      if (this.toogle === false) {
        this.errors.checkbox = true;
        isFormValid = false;
      }

      if (!this.phone.match(/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/)) {
        this.errors.phone = true;
        isFormValid = false;
      }
      console.log("isFormValid:", isFormValid);
      return isFormValid;
    },
    clearErroFields() {
      this.errors = { ...initialErrors };
    },
    async registerUser() {
      try {
        const { data } = await this.$api.user.register(this.userData);
        console.log("DATA: ", data);
        if (data.status.code === "0000") {
          this.errors.success = true;
          localStorage.setItem("email", data.result.email);
          localStorage.setItem("_id", data.result._id);
          this.$router.push({
            name: "verification",
            query: {
              email: this.email.toLowerCase(),
            },
          });
        } else {
          this.errors.login = true;
          this.errorMessage = data.status.message;
        }
      } catch (err) {
        if (err.response.status === 400) {
          this.errors.login = true;
          this.errorMessage = err.response.data.status.message;
        }
      }
    },
    onConfirmationEmailModalShown() {
      this.isConfirmationModalVisisble = true;
    },
    onConfirmationEmailModalClose() {
      this.isConfirmationModalVisisble = false;
    },
    onCatalogClose() {
      this.isCatalogView = false;
    },
    onCatalogOpen(newUrl) {
      this.externalUrl = newUrl;
      this.isCatalogView = true;
    },
    togglePassword() {
      this.isPasswordVisible = !this.isPasswordVisible;
    },
    togglePassword2() {
      this.isPassword2Visible = !this.isPassword2Visible;
    },
  },
};
</script>

<style>
.register-walmart-catalog {
  height: 80vh;
  width: 80vw;
}
.text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.error {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em #d1003d;
}
.contenedor-form {
  width: 95%;
  margin: 0 auto;
}
@media (min-width: 720px) {
  .contenedor-form {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .contenedor-form {
    width: 40%;
    margin: 0 auto;
  }
}
@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}
</style>
