<template>
  <div class="flex flex-col justify-center  m-auto  w-full h-full ">
    <div class="relative -mt-20 ">
      <Logo />
    </div>
    <div class="flex  contenedor-form flex-col items-center justify-around">
      <p class="text-white text-2xl font-bold bg-redjugueti m-3 py-2  lg:px-3 lg:text-xl px-4 text-shadow rounded">Reenviar código</p>
      <p class="w-10/12 text-white text-lg font-bold text-center my-10 text-base mb-5">Ingresa tu correo y te enviaremos un nuevo código</p>
      <div class="w-10/12 mb-5">
      <input ref="resend_code_form_email" v-model="user" autofocus class="w-full text-white placeholder-white bg-blueformjugueti rounded px-5 py-2" type="text" placeholder="Correo">
        <p ref='resend_code_error_message' class="text-white text-xs italic mt-1 hidden">{{ errorMessage }}</p>
      </div>
      <button class="w-10/12 mt-5 bg-redjugueti hover:bg-redjugueti-dark text-white text-shadow text-2xl font-bold py-1 px-3 mb-3 rounded" @click="onSubmitRecoveryForm">
        Enviar código
      </button>
    </div>
  </div>
</template>

<script>
export default {
      layout: 'init',

  data () {
    return {
      user: '',
      errorMessage: ''
    }
  },
  mounted () {
    localStorage.clear()
  },
  methods: {
    onSubmitRecoveryForm () {
      if (this.onValidateFields()) {
        console.log(this.user)
        const userData = {
          email: this.user.toLowerCase()
        }
        this.resendCode(userData)
      }
    },
    async resendCode (userData) {
      try {
        const { data } = await this.$api.user.resendCode(userData)
        console.log('DATA: ', data)
        if (data.status.code === '0000') {
          console.log('EXITO')
          this.$router.push({
            name: 'verification',
            query: {
              email: this.user.toLowerCase()
            }
          })
        } else {
          if (this.$refs.resend_code_error_message.classList.contains('hidden')) {
            this.$refs.resend_code_error_message.classList.remove('hidden')
          }
          this.errorMessage = data.status.message
        }
      } catch (err) {
        console.log(err)
        if (err.response.status === 400) {
          if (this.$refs.resend_code_error_message.classList.contains('hidden')) {
            this.$refs.resend_code_error_message.classList.remove('hidden')
          }
          this.errorMessage = err.response.data.status.message
        }
      }
    },
    onValidateFields () {
      let isFormValid = true
      this.clearErroFields()
      if (this.user === '') {
        this.$refs.resend_code_form_email.classList.add('error')
        isFormValid = false
      }
      return isFormValid
    },
    clearErroFields () {
      if (this.$refs.resend_code_form_email.classList.contains('error')) {
        this.$refs.resend_code_form_email.classList.remove('error')
      }
    }
  }
}
</script>

<style scoped>

.error
{
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em #d1003d;
}

.contenedor-form{
  width:95%;
  margin: 0 auto;
}
@media (min-width:720px) {
 .contenedor-form{
  width:80%;
  margin: 0 auto;
} 
}
@media (min-width:1200px) {
 .contenedor-form{
  width:30%;
  margin: 0 auto;
} 
}
.text-shadow{
  text-shadow:1px 1px 1px rgba(0,0,0,0.5)
}
@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}

</style>
