<template>
  <div class="flex flex-col justify-center m-auto w-full h-full">
    <div class="-mt-20">
      <Logo />
    </div>
    <div class="flex flex-col items-center contenedor-form text-center">
      <p class="text-white text-2xl font-bold bg-redjugueti m-3 py-2 px-4 rounded">
        Verificación
      </p>
      <p class="w-10/12 text-white text-lg font-bold text-base">
        Envíamos un código de verificación a tu correo.
      </p>
      <p class="w-10/12 text-white text-sm mb-5">
        Sí no aparece en la bandeja principal, revisa tu bandeja de SPAM o PROMOCIONES.
      </p>
      <div class="w-10/12 mb-5 mt-8">
        <p
          v-if="exitoVerification"
          class="text-white mb-5 p-1 rounded-lg text-base italic exito bg-blueformjugueti mt-1"
        >
          Código validado correctamente
        </p>
        <p
          v-if="errorVerification"
          class="text-white mb-5 p-1 rounded-lg bg-redjugueti error text-base italic mt-1"
        >
          {{ errorMessage }}
        </p>
        <input
          ref="login_form_verification"
          autofocus
          v-model="verificationCode"
          class="text-white placeholder-white bg-blueformjugueti w-full rounded px-5 py-2"
          type="text"
          placeholder="Código de verificación"
        />
      </div>
      <button
        class="w-10/12 bg-redjugueti hover:bg-redjugueti-dark text-white text-2xl font-bold py-2 px-4 mb-3 rounded"
        @click="onSubmitVerificationForm"
      >
        Verificar código
      </button>
    </div>
  </div>
</template>

<script>
export default {
  layout: "init",

  data() {
    return {
      verificationCode: "",
      email: "",
      errorMessage: "Ha ocurrido un error",
      errorVerification: false,
      exitoVerification: false,
      ligaHome: "https://vivirmejor.mx/mundo-juguetilandia/",
    };
  },
  mounted() {
    this.$route.query.email
      ? (this.email = this.$route.query.email)
      : this.redirectToLogin();
  },
  methods: {
    onSubmitVerificationForm() {
      if (this.onValidateFields()) {
        const userData = {
          email: this.email,
          verificationCode: this.verificationCode,
        };
        this.verifyCode(userData);
      }
    },
    async verifyCode(userData) {
      try {
        const { data } = await this.$api.user.verification(userData);
        console.log("Dta", data, userData, "userData");
        if (data.status.code === "0000" && data.result.isValidated) {
          this.exitoVerification = true;
          this.redirectToLogin();
        } else {
          this.showError("El codigo es incorrecto");
        }
      } catch (err) {
        err.response.status === 400
          ? this.showError(err.response.data.status.message)
          : null;
      }
    },
    onValidateFields() {
      this.verificationCode === "" ? this.showError("El campo está vacio.") : null;
      return this.verificationCode !== "";
    },
    showError(message) {
      this.errorVerification = true;
      this.errorMessage = message;
    },
    redirectToLogin() {
      window.top.location.href = this.ligaHome;
    },
  },
};
</script>

<style scoped>
.error {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em #d1003d;
}
.exito {
  animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.contenedor-form {
  width: 95%;
  margin: 0 auto;
}
@media (min-width: 720px) {
  .contenedor-form {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .contenedor-form {
    width: 30%;
    margin: 0 auto;
  }
}
.text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
</style>
