<template>
  <div
    class="carrusel portrait:flex pl-2 justify-around rounded-lg h-24 mt-3 bg-black bg-opacity-50 pt-2 overflow-y-hidden landscape:fixed landscape:bottom-0 landscape:left-0 landscape:w-4/5"
  >
    <hooper :keysControl="false" :itemsToShow="photosVisibles">
      <slide v-for="(image, index) in photosTakenReverse" :key="index" :index="index">
        <div class="relative flex justify-center">
          <img class="w-11/12 md:w-6/12 h-20 mr-1 rounded-lg" :src="image" />
        </div>
      </slide>
    </hooper>
  </div>
</template>

<script>
import { Hooper, Slide } from "hooper";

export default {
  components: {
    Hooper,
    Slide,
  },
  data() {
    return {
      photosVisibles: 4,
    };
  },
  props: {
    photosTaken: Array,
  },
  computed: {
    photosTakenReverse() {
      return [...this.photosTaken].reverse();
    },
  },
  mounted() {
    this.photosVisibles =
      window.screen.width > 720 ? 5 : window.screen.width > 1200 ? 10 : 6;
  },
};
</script>

<style>
.counter {
  position: absolute;
  width: 1em;
  height: 1em;
  font-size: 0.8em;
  border-radius: 50%;
}

.carrusel {
  margin-top: 1em;
  max-width: calc(100%);
}
.carrusel::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: none;
}
.carrusel::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: black;
}
@media (min-width: 1024px) and (orientation: portrait) {
  .carrusel {
    margin-top: 1em;
    max-width: calc(100% - 17.2rem);
    width: 100%;
  }
}
@media (orientation: portrait) {
  .carrusel {
    margin-top: 1em;

    width: 100%;
  }
}

@media (orientation: landscape) {
  carrusel {
    width: 80% !important;
  }
}
</style>
