<template>
  <div
          class="flex justify-around w-full pt-4 landscape:flex-col landscape:items-center landscape:m-0"
        >
          <div class="flex flex-col items-center mt-6">
            <img
              class="h-12 w-12 cursor-pointer push-boton rounded-full"
              src="https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/Grupo 577.svg"
              alt="Ir a camara"
              @click="onSMFormVisible"
            />
            <span class="font-maryd font-semibold text-white"
              >{{ photosTaken.length }} / 40</span
            >
          </div>
          <img
            :class="this.isTakingAPicture ? 'animate-pulse disabled opacity-50 cursor-wait' : ''"
            class="h-12 w-12 mt-4 cursor-pointer push-boton "
            src="https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/Grupo 68.svg"
            alt="Ir a camara"
            @click="capture"
          />
          <img
            class="h-12 w-12 mt-6 push-boton"
            :class="isPreviewVisible"
            src="https://sfo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/Grupo 559.svg"
            alt="Ir a camara"
            @click="onFeedVideoClick"
          />
        </div>
</template>

<script>
export default {
  props: {
      onSMFormVisible:Function,
      capture:Function,
      onFeedVideoClick:Function,
      photosTaken:Array,
      isTakingAPicture:Boolean,
      isPreviewVisible:String,
  },
  computed: {
    photosTakenReverse(){
        return this.photosTaken.reverse()
    } 
  },
}
</script>

<style>

</style>>