<template>
  <Modal :isModalVisible="isValidationModalShown" @onModalClick="onValidationModalClose">
    <!-- <Modal :isModalVisible="true" @onModalClick="onValidationModalClose"> -->
    <div class="w-11/12 modal-validation flex flex-col justify-around items-center">
      <div class="mb-5 w-full relative flex justify-center flex items-center flex-col">
        <!-- <img class="modal-validation-image" src="https://fo2.digitaloceanspaces.com/juguetilandia.media/assets/app/img/juguetilandia__notificación.svg" alt=""> -->
        <img
          class="modal-validation-image"
          src="@/assets/img/small/juguetilandia__notificación-720.png"
          alt=""
        />
        <div class="w-9/12 text-modal-confirmation text-center">
          <p class="text-white font-bold text-sm md:text-base lg:text-xl xl:text-2xl">
            Recuerda que para subir
          </p>
          <p class="text-white font-bold text-sm md:text-base lg:text-xl xl:text-2xl">
            tu vídeo debes tener al menos 10
          </p>
          <p class="text-white font-bold text-sm md:text-base lg:text-xl xl:text-2xl">
            fotos en el carrete
          </p>
        </div>
      </div>
      <div class="w-7/12 mx-auto flex justify-center">
        <button
          class="push-boton boton custom-yellow text-white font-bold py-2 px-4 rounded shadow-lg"
          @click="onValidationModalClose"
        >
          Entendido
        </button>
      </div>
    </div>
  </Modal>
</template>

<script>
import Modal from "@/components/modal";

export default {
  layout: "empty",
  components: {
    Modal,
  },
  props: {
    isValidationModalShown: Boolean,
    onValidationModalClose: Function,
  },
};
</script>

<style></style>
