<template>
  <!--<div v-if="isSMFormShown" class="absolute flex justify-center items-center inset-0 z-50 ">-->
  <div
    v-if="isSMFormShown"
    class="absolute flex justify-center items-center inset-0 z-50"
  >
    <div class="w-full h-full bg-black bg-opacity-50 z-0">
      <Loading :loading="loading" />
      <div
        class="w-6 h-6 rounded-full push lg:w-10 lg:h-10 z-50 bg-white lg:bg-gray-400 lg:bg-opacity-50 cursor-pointer mr-8 mt-8 absolute top-0 right-0 lg:mt-8 lg:mr-24 z-50 flex justify-center items-center"
        @click="closeModal"
      >
        <div
          class="text-lg place-self-center justify-self-center text-red-600 font-black lg:text-white lg:text-4xl"
        >
          &times;
        </div>
      </div>
      <div class="flex flex-col justify-center p-8 rounded-lg items-center w-full h-full">
        <div
          class="custom-yellow w-full md:w-6/12 lg:w-6/12 xl:w-4/12 rounded-lg p-5 flex flex-col justify-center items-center"
        >
          <label
            class="block text-white font-bold mb-2 text-center md:text-xl"
            for="username"
          >
            ¿Cómo quieres que se llame tu vídeo?
          </label>
          <input
            :class="this.errorName ? 'error' : ''"
            v-model="name"
            class="text-white mt-2 placeholder-white w-8/12 bg-blueformjugueti rounded mb-5 px-5 md:px-3 py-2"
            type="text"
            placeholder="Nombre..."
            autofocus
          />
        </div>
        <div class="flex justify-around mt-4">
          <button
            class="boton bg-green-500 hover:bg-green-700 text-white font-bold rounded shadow-lg"
            @click="closeModal"
          >
            Cancelar
          </button>
          <button
            class="boton custom-yellow text-white font-bold text-lg ml-1 rounded shadow-lg"
            @click="onValidateFields"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Loading from "../../util/Loading";

export default {
  components: {
    Loading,
  },
  layout: "empty",
  data() {
    return {
      name: "",
      description: ".",
      errorName: false,
    };
  },
  props: {
    isSMFormShown: Boolean,
    onSMFormClose: Function,
    onCreateStopMotion: Function,
    loading: Boolean,
  },
  methods: {
    onValidateFields(name) {
      this.name === "" || this.name === null
        ? (this.errorName = true)
        : this.onCreateStopMotion(this.smName, this.description);
    },
    closeModal() {
      this.name = "";
      this.errorName = false;
      this.onSMFormClose();
    },
  },
};
</script>

<style></style>
