<template>
  <Modal :isModalVisible="isUploadedVideoModalVisible" @onModalClick="onUploadModalClose">
    <div class="w-full h-full flex flex-col justify-center items-center">
      <div class="h-3/6 relative header-ce">
        <img
          class="modal-validation-image"
          src="@/assets/img/small/juguetilandia__notificación-720.png"
          alt="Notificación juguetilandia"
        />
        <div
          class="w-9/12 text-modal-confirmation text-white font-bold text-center text-sm md:text-base lg:text-xl xl:text-2xl"
        >
          <p class="text-white font-bold">¡Listo!</p>
          <p class="">Tu video ahora se encuentra</p>
          <p class=" ">en revisión</p>
          <p class="  ">Te avisaremos cuando esté</p>
          <p class=" ">disponible</p>
        </div>
      </div>
      <div class="footer-ce w-full flex justify-center items-center flex-col h-3/6">
        <button
          class="text-white boton-ce boton custom-yellow font-bold py-2 px-4 rounded cursor-pointer shadow-lg z-50 push-boton"
          @click="onUploadModalClose"
        >
          Entiendo
        </button>
      </div>
    </div>
  </Modal>
</template>

<script>
import Modal from "@/components/modal";

export default {
  layout: "empty",
  components: {
    Modal,
  },
  props: {
    isUploadedVideoModalVisible: Boolean,
    onUploadModalClose: Function,
  },
};
</script>

<style>
.footer-ce {
  flex-shrink: 1;
  flex-grow: 2;
}
.header-ce {
  width: 100%;
  min-height: 50%;
  flex-shrink: 3;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton-ce {
  width: 50%;
}

.modal-validation {
  max-height: 80%;
  min-height: 30em;
  margin: auto;
}
.modal-validation-image {
}
.text-modal-confirmation {
  position: absolute;
  max-width: 70%;
  margin: auto;
  left: calc(10%);
  top: calc(50% - 3.5rem);
}
@media (min-width: 1200px) {
  .text-modal-confirmation {
    position: absolute;
    left: calc(5%);
    top: 30%;
  }
  .boton-ce {
    padding: 0.7rem 1rem;
    font-size: 1.3rem;
    width: 20%;
  }
}
@media (min-width: 1500px) {
  .text-modal-confirmation {
    position: absolute;
    left: 10%;
    top: 30%;
  }
}
.custom-yellow {
  background-color: #ffb71b;
}
</style>
>
